# Python-specific ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment directories
.env
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test and coverage
.coverage

# Databricks
.databricks/
